/*
**/assets/images/
**/images/
**/img/
assets/components
!.gitignore
!core/
!assets/
!core/export
!core/import
!core/packages
!core/xpdo
!manager
!connectors
core/cache/*
!.htaccess
!config.core.php
!index.php